/* General container */
.login-container {
    display: flex;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    /* padding: 20px; */
    height: 100vh;
  }
  
  
  /* Left Section */
  .left-section {
    flex: 1;
    background-color: #f5f7fb;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .left-section .logo img {
    width: 120px;
    margin-bottom: 20px;
  }
  
  .left-section h2 {
    margin: 20px 0;
    font-size: 22px;
    color: #333;
  }
  
  .left-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .left-section ul li {
    margin-bottom: 20px;
    font-size: 16px;
    color: #555;
  }
  
  .left-section ul li span {
    color: green;
    font-weight: bold;
    margin-right: 8px;
  }
  
  .left-section ul li p {
    font-size: 14px;
    color: #888;
  }
  
  /* Right Section */
  /* Right Section */
  .right-section {
    flex: 1;
    max-width: 700px; /* Set a maximum width for the Sign In section */
    margin: 0 auto; /* Center the Sign In section horizontally */
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
   
    background-color: white; /* Optional: Add a background color */
    align-items: center;
  }
  
  
  .right-section h2 {
    margin-bottom: 20px;
    font-size: 34px;
    color: #030303;
    font-weight: 500
    
  }
  
  form {
    width: 100%; /* Take full width of parent */
    max-width: 400px; /* Reduce width of the content */
    display: flex;
    flex-direction: column;
    
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  
  }
  
  .form-footer label {
    font-size: 14px;
    color: #555;
    font-weight: bold;
  }
  
  .form-footer .forgot-password {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
  }
  
  .form-footer .forgot-password:hover {
    text-decoration: underline;
  }
  
  .login-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-btn:hover {
    background-color: #0056b3;
  }
  
  .register-link {
    color: #007bff;
    text-decoration: none;
    
  }
  
  .register-link:hover {
    text-decoration: underline;
  }
  .register {
    margin-top: 10px;
  
   }
   .hover-underline {
    text-decoration: none;
    font-size: 14px;
  }
  
  .hover-underline:hover {
    text-decoration: underline;
  }