.table-header {
  font-weight: bold;
  color: black;
  background-color: #d2d5d8;
  text-align: center;
  
}
/* styles.module.css */
.tableHeader {
  font-weight: bold;
  color: #fff;
  background-color: #459af5;
  text-align: center;
}
